<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.project">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Project">
        <uses-library android:name="org.apache.http.legacy" android:required="false"/>
        <meta-data android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCP9s4AnmFO8fsj6bA06hHN9lu1k9WnDGk"></meta-data>
        <activity
            android:name=".Googlemaps"
            android:exported="false" />
        <activity
            android:name=".clock"
            android:exported="false" />
        <activity
            android:name=".home"
            android:exported="false" />
        <activity
            android:name=".login"
            android:exported="false" />
        <activity
            android:name=".update"
            android:exported="false"
            android:parentActivityName=".libraryy" />
        <activity
            android:name=".Addbook"
            android:exported="false"
            android:label="Add book"
            android:parentActivityName=".libraryy" />
        <activity
            android:name=".libraryy"
            android:exported="false"
            android:label="Library" />
        <activity
            android:name=".Regiter"
            android:exported="false"
            android:label="Register" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>